@font-face {
	font-family: 'HaasGrotRoman';
	src: url('assets/fonts/NeueHaasGrotDisp-55Roman.otf');
}

@font-face {
	font-family: 'HaasGrotMedium';
	src: url('assets/fonts/NeueHaasGrotDisp-65Medium.otf');
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('assets/fonts/HelveticaNeue.ttc');
}

@font-face {
	font-family: 'Wingdings';
	src: url('assets/fonts/Wingdings3.ttf');
}

@font-face {
	font-family: 'Social';
	src: url('assets/fonts/fontsocialmedia.ttf');
}