@font-face {
	font-family: 'Wingdings';
	src: url('assets/fonts/Wingdings3.ttf');
}

// https://www.dafont.com/font-social-media.font
@font-face {
	font-family: 'Social';
	src: url('assets/fonts/fontsocialmedia.ttf');
}