footer {
	border-top: 1px solid $color-light-gray;
	margin: 0 auto;
	max-width: $max-width;
	padding: 40px 20px;
}

.footer__top {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 90px;
	width: 100%;
}

.footer__top__signup__input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid $color-white;
	font-size: 25px;
	padding-bottom: 10px;
}

.footer__top__signup__submit__container {
	display: inline-block;
}

.footer__top__signup__submit {
	display: none;
}

.footer__top__signup__button {
	cursor: pointer;
	left: -30px;
	position: relative;
	vertical-align: sub;
	width: 25px;
}

.footer__top__social ul {
	color: $color-dark-gray;
	display: inline;
	font-family: 'social';

	li {
		display: inline;
		padding: 0 5px;

		a {
			font-size: 34px;
		}
	}
}

.footer__legal {
	font-size: 10px;
}

@media only screen and (max-width: $width-medium) {

	.footer__top { display: block; position: relative; }
	.footer__top div { margin-bottom: 40px; }
	.footer__top__signup {
		position: absolute;
		right: 0;
		top: 0;
	}
	.footer__top__social { float: right; margin: 20px 0 0 0; }

}

@media only screen and (max-width: 500px) {
	.footer__top { position: relative; }
	.footer__top__signup { position: inherit; }
	.footer__top__social { float: none; margin: 0 0 40px 0; }
}